{% extends "layout.html" %}
{% block content %}
        <!-- slider Area Start -->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="slider-active">
                <div class="single-slider slider-height d-flex align-items-center" data-background="{{ url_for('static', filename='assets/img/hero/lemson.png') }}">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-9 col-md-10">
                                <div class="hero__caption">
                                    <h1>Find the job you want in the fields you love</h1>
                                </div>
                            </div>
                        </div>
                        <!-- Search Box -->
                        <div class="row">
                            <div class="col-xl-8">
                                <!-- form -->
                                <form action="{{ url_for('job_search') }}" class="search-box" method="POST">
                                    <div class="input-form">
                                        <input type="text" placeholder='Type job field(s) seperated by ","' name = "fields">
                                    </div>
                                    <div class="select-form">
                                        <div class="select-itms">
                                            <input type="text" placeholder="Type a location: " name = "location">
                                        </div>
                                    </div>
                                    <div>
                                        <input type="Submit" value="Find jobs">
                                    </div>	
                                </form>	
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}