{% extends "layout.html" %}
{% block content %}
    <div>
    <div>
    {%for job in data %}
            <br>
            <div class="form-check">
            <!-- #save jobs func
            make ajax async request
            #grab 15-19
            do post req with ajax -->
            {{loop.index}}
            <h5 class = "job_title">{{job['title']}}</h5>
            <h5 class = "company_name">{{job['company_name']}}</h5>
            <h5 class = "job_location">{{job['location']}}</h5>
            <h5 class = "job_description">{{job['description']}}</h5>

            
            <input class="form-check-input" type="checkbox" value="job" onclick = "getResults();">
            <label class="form-check-label" for="flexCheckDefault">
                Save Job
            </label>
            </div>
            </div>
            <br>

    {%else%}
    <h5> No jobs to display</h5>
        

    {%endfor%}

    </div>

{%endblock%}